@keyframes logo1  {
    0%{background-color:rgba(62, 50, 68, 0.733); top: 0;left: 0;}
    25%{background-color: rgba(28, 2, 43, 0.562); top: 0;left: 300; }
    50%{background-color: rgba(33, 10, 54, 0.671); top:300;left: 300;}
    75%{background-color:rgba(71, 37, 61, 0.733); top: 100;left: 0;}
    100%{background-color: rgba(36, 21, 34, 0.651); top: 0;left: 0;}
}
@keyframes imgcentro {

    0%{  left: 0%; }
    50%{ left: 90%; }
    100%{left: 0%; }

}

body{
    background-color: rgb(243, 240, 240);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.cero1{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    animation-name: numeritos;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
.lele:hover{
    color: black;
    font-size: 30px;
    transition: all 1s ;
    margin: 10px;
}

.barraprincipal{
    display: flex;
    justify-content: space-around;
    width: 100%;
    animation-name: logo1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.logo{
    margin-left: 10%;
    margin-top: 10%;
    width: 100px;
    height: 100px;
}
.inicio{
    display: flex;
    align-items: center;
    flex-direction:row;
}
.galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 25px;
}
.galeria1{
    display: flex;
    font-size: 30px;
}
.galeris2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.Tributo{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}
.Tributo1{
    display: flex;
    width: 300px;
    height: 320px;
}
.formulario1{
    display: flex;
    width: 300px;
    height: 320px;
}
.grid1{
    display: flex;
    width: 300px;
    height: 320px;
}
.padre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
.imgcentro{
    width: 540px;
    height: 632px;
    position:relative;
    animation-name: imgcentro;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
#hijo2{ display:flex ;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 20px;
    font-size: 25px;
}
#hijo2:hover{
    color: aqua;
    font-size: 40px;
    transition: all 1s linear;
}
#hijo3{
    display: flex;
    justify-content: center;
    text-align:center;
    color: black;
    font-size: 25px;
}

.madre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#cono{
    color: black;
    font-size: 50px;
}
.logos2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logos3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.java{
    width: 150px;
    height: 150px;
    margin: 50px;

}
.phyton{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.kotlin{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.cmm{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.html{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.css{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.sql{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.javascrip{
    width: 150px;
    height: 150px;
    margin: 50px;
}
.java:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.phyton:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.kotlin:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.cmm:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.html:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.css:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.sql:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.javascrip:hover{
    width: 300px;
    height: 300px;
    transition: all 1s linear;
}
.cl{
    display: flex;
    flex-direction: column;
    height: 30px;
    margin-top: 5px;
}
.c1{
    width: 10px;
    height: 10px;
    background-color: blue;
    position: absolute;
    animation-name: cll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.c2{
    width: 10px;
    height: 10px;
    background-color: rgb(231, 14, 14);
    position: absolute;
    animation-name: cll;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.c3{
    width: 10px;
    height: 10px;
    background-color: rgb(217, 240, 15);
    position: absolute;
    animation-name: cll;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.c4{
    width: 10px;
    height: 10px;
    background-color: rgb(12, 199, 22);
    position: absolute;
    animation-name: cll;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.c5{
    width: 10px;
    height: 10px;
    background-color: rgb(36, 183, 209);
    position: absolute;
    animation-name: cll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.servicios{
    color: black;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 30px;
}
.servicio{
    display: flex;
    flex-direction:center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    color: rgb(10, 25, 37);
    font-size: 30px;

}
.servicioss{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.APPimg{

    width: 420px;
    height: 500px;

}
@keyframes cll {
    0%{background-color:blue; left: 0%;}
    25%{background-color: rgb(28, 2, 43); left: 50%; }
    50%{background-color: rgb(33, 10, 54); left: 90%;}
    75%{background-color:rgb(71, 37, 61); left: 50%;}
    100%{background-color: rgb(36, 21, 34); left: 0%;}
}
.contatame{
    display: flex;
    background-color:blanchedalmond;
    flex-direction: column;
}

.contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
    height: 70px;

}
.boooo{
    display: flex;
    align-items: end;
    justify-content: end;

}
.contactoo2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 20px;
}
.contatata{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 45%;
}
.contacto2{
    color: aliceblue;
    font-size: 30px;
    margin: 20px;
}
.contach1{
    font-size: 60px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.area1{
    display: flex;
    justify-content: center;
    flex-direction: column;



}
.area2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;



}
.redes{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.redes1{
    font-size: 30px;
    color: black;
}
.redes2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;


}
.logosmedia{
    display: flex;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;

}
.logosmedia1{
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;


}
.logosmedia2{
    display: flex;
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

a{
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.form-control{
    width: 100px;
    height: 30px;
    margin-right: 30px;
}
.form-control2{
    width: 200px;
    height:80px;
}
