<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/porfolio.css">
</head>
<body >
<section class="barraprincipal">
    <div class="logo1">
        <img  class="logo" src="/img/logos/logo paul.jpg" alt="">
    </div>
    <div class="inicio">

        <h2 class="lele"><a href="#padrelink" th:text="${personal.getNombre()}"></a></h2>

        <h2 class="lele"><a href="#madrelink" >Conocimientos</a></h2>

        <h2 class="lele"><a href="#servicioslink" >Servicios</a></h2>

        <h2 class="lele"><a href="#proyectolink">Proyectos</a></h2>

        <h2 class="lele"><a href="#contactoslink">Contactos</a></h2>


    </div>
</section>

<section class="padre" id="padrelink">

    <div class="centro" th:each="fotoperfil2 : ${fotosperfil}">
        <img class="imgcentro" th:src="${fotoperfil2.getImg_Fotosperfil()}"alt="Fotosperfil">

    </div>
    <div class="hijo1">

        <p id="hijo3" th:text="${personal.getNombre() +' '+  personal.getApellido()+ ' '+ personal.getDescripcionrol()}" >

        </p>
    </div>

    <div>

    </div>
</section>
<section class="cl">
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
    <div class="c4"></div>
    <div class="c5"></div>
</section>
<section class="madre" id="madrelink">
    <div>
        <h1 id="cono">CONOCIMIENTOS</h1>
    </div>
    <div class="logos2">
        <div th:each="lenguajes2 : ${lenguajes}">
            <img  th:src="@{${lenguajes2.img_lenguaje}}" class="java"  alt="Lenguajes">
        </div>


    </div>
    <div class="logos3">
        <div th:each="lenguajes3 : ${lenguajes2}">
            <img  th:src="@{${lenguajes3.img_lenguaje}}" class="java"  alt="Lenguajes2">
        </div>

    </div>
</section>
<section class="cl">
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
    <div class="c4"></div>
    <div class="c5"></div>
</section>
<section class="galeria" id="proyectolink">
    <div class="galeria1">
        <h2>PROYECTOS</h2>
    </div>
    <div class="galeris2">
        <a href="/pagina de tributo/index.html">
            <div class="Tributo">Pagina Tributo
                <img  class="Tributo1" src="/img/otros/mark ant.png" alt="">
            </div>
        </a>
        <a href="/pagina de formulario/formulario.html">
            <div class="Tributo">Formulario
                <img class="formulario1" src="/img/otros/formulario.png" alt="">
            </div>
        </a>
        <a href="/grid2/grid2.html">
            <div class="Tributo">Tarea De Grid
                <img class="grid1" src="/img/otros/gridd.png" alt="">
            </div>
        </a>
    </div>
</section>
<section class="cl">
    <div class="c1"></div>
    <div class="c2"></div>
    <div class="c3"></div>
    <div class="c4"></div>
    <div class="c5"></div>
</section>
<section class="servicios" id="servicioslink">
    <div>
        <h2>SERVICIOS</h2>
    </div>
    <div class="servicio">
        <div class="servicioss">
            <div>
                <p>Web Design</p>
            </div>
            <div th:each="servicesS : ${services}">
                <img  th:src="@{${servicesS.img_service}}" class="APPimg" alt="Services">
            </div>
            </div>

        </div>
        <div class="servicioss">
            <div>
                <p>Mobile Design</p>
            </div>
            <div th:each="servicesS2 : ${services2}">
                <img  th:src="@{${servicesS2.img_service}}" class="APPimg" alt="Services">
            </div>
        </div>
        <div class="servicioss">
            <div>
                <p>App Design </p>
            </div>
            <div th:each="servicesS3 : ${services3}">
                <img  th:src="@{${servicesS3.img_service}}" class="APPimg" alt="Services">
            </div>
        </div>
    </div>
</section>
<section  class="" id="contactoslink">
    <div class="contacto">
        <div>
            <form method="post"  action="/">
                <fieldset>
                    <legend>Contactame</legend>

                    <div>
                        <label for="correo_contatame" class="form-label mt-4">CORREO </label>
                        <input type="text" class="form-control" id="correo_contatame" placeholder="correo_contatame" name="correo_contatame">
                    </div>
                    <div>
                        <label for="comentario_contactame" class="form-label mt-4" >COMENTARIO</label>
                        <input type="text" class="form-control2" id="comentario_contactame" placeholder="comentario_contactame" name="comentario_contactame">
                    </div>


                    <hr>

                    <input type="submit" value="Enviar" class="boooo">


                    <p th:if="${message != null}" th:text="${message}"></p>

                </fieldset>

            </form>
        </div>
    </div>
    <div class="contatame">

        <div class="contactoo2">
            <div class="redes">
                <div class="redes1">
                    <div>Social Media</div>
                </div>
                <div class="redes2">
                    <a href="https://www.facebook.com/">
                        <div class="logosmedia">
                            <img src="/img/logos/faceradis.png" alt="">
                        </div>
                    </a>

                    <a href="https://www.instagram.com/">
                        <div class="logosmedia1">
                            <img src="/img/logos/Instagram-Icon.png" alt="">
                        </div>
                    </a>

                    <a href="https://www.linkedin.com/">
                        <div class="logosmedia2">
                            <img src="/img/logos/linkedin-logo-png.webp" alt="">
                        </div>
                    </a>

                </div>
            </div>
            <div class="contatata">
                <a href="https://wa.link/rqec2t">
                    <div class="area1">
                        <p style="font-size: 30px; margin: 10px;">Telefono</p>
                        <p style="font-size: 20px; margin: 10px;">666888444</p>
                    </div>
                </a>
                <a href="https://www.hotmail.com/">
                    <div class="area2">
                        <img src="/img/logos/correo.png" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <p style="margin: 20px; font-size: 20px;"><a href="#padrelink">Home</a></p>
        <p style="margin: 20px; font-size: 20px;"><a href="#contactoslink">Contatame</a></p>
    </footer>
</body >
</html>